
 /*http://www.vinzplanet.com/39/effetto-zoom-su-le-immagini-con-i-css/ ***/
#contenitore a.miniatura, #contenitore a.miniatura:visited {
 display:block;
 width:80px;
 height:60px;
 background-color:#ffffff;
 color:#ffffff;
 text-decoration:none;
 }

#contenitore a.miniatura:hover, #contenitore a.miniatura:active{
 text-decoration:none;
 color:#ffffff;
 background-color:transparent;
 }
 #contenitore a .img_grande, #contenitore a .img_grande:visited{
 display:block;
 position:absolute;
 color:#ffffff;
 background-color:transparent;
 width:1px;
 height:1px;
 top:-1px;
 left:-1px;
 }
 #contenitore a.miniatura:hover .img_grande, #contenitore a.miniatura:active .img_grande{
 display:block;
 position:fixed;
 top:10px;
 left:200px;
 z-index:3;
 width: 800px;
 height: 800px;
 }
 #contenitore a img {
 border:1;
 }