.leaflet-container .leaflet-control-locate {
    margin-left: 13px;
    margin-top: 12px;
}

.leaflet-control-locate a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;

    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
}

.leaflet-control-locate a:hover {
    background-color: #fff;
}

.leaflet-touch .leaflet-control-locate a {
    width: 27px;
    height: 27px;
}

.leaflet-control-locate a {
	background-image: url(images/locate.png);
}

.leaflet-control-locate.requesting a {
    background-image: url(images/spinner.gif);
}

.leaflet-control-locate.active a {
    background-image: url(images/locate_active.png);
}
