/* Conditional stylesheet for IE. */
.leaflet-control-locate {
	border: 3px solid #999;
}

.leaflet-control-locate a {
	background-color: #eee;
}

.leaflet-control-locate a:hover {
	background-color: #fff;
}