/* ================================================================== */
/* Toolbars
/* ================================================================== */

.leaflet-panzoom-section {
	position: relative;
}

.leaflet-panzoom-toolbar {
	margin-top: 12px;
}

.leaflet-panzoom-toolbar-top {
	margin-top: 0;
}

.leaflet-panzoom-toolbar-notop a:first-child {
	border-top-right-radius: 0;
}

.leaflet-panzoom-toolbar-nobottom a:last-child {
	border-bottom-right-radius: 0;
}

.leaflet-panzoom-toolbar a {
	background-image: url('images/spritesheet.png');
	background-repeat: no-repeat;
}

.leaflet-panzoom a {
	display: block;
	text-align: center;
	text-decoration: none;
}

/* ================================================================== */
/* Toolbar actions menu
/* ================================================================== */

.leaflet-panzoom-actions {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 26px; /* leaflet-panzoom-toolbar.left + leaflet-panzoom-toolbar.width */
	top: 0;
}

.leaflet-panzoom-actions li {
	float: left;
}

.leaflet-panzoom-actions li:first-child a {
	border-left: none;
}

.leaflet-panzoom-actions li:last-child a {
	-webkit-border-radius: 0 4px 4px 0;
	        border-radius: 0 4px 4px 0;
}

.leaflet-panzoom-actions a {
	background-color: #919187;
	border-left: 1px solid #AAA;
	color: #FFF;
	font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 28px;
	text-decoration: none;
	width: 50px;
	height: 28px;
}

.leaflet-panzoom-actions-bottom {
	margin-top: 0;
}

.leaflet-panzoom-actions-top {
	margin-top: 1px;
}

.leaflet-panzoom-actions-top a,
.leaflet-panzoom-actions-bottom a {
	height: 27px;
	line-height: 27px;
}

.leaflet-panzoom-actions a:hover {
	background-color: #A0A098;
}

.leaflet-panzoom-actions-top.leaflet-panzoom-actions-bottom a {
	height: 26px;
	line-height: 26px;
}

/* ================================================================== */
/* panzoom toolbar
/* ================================================================== */

.leaflet-panzoom-toolbar .leaflet-panzoom-pan {
	background-position: -2px -2px;
}
.leaflet-panzoom-toolbar .leaflet-panzoom-zoom {
	background-position: -2px -2px;
}

/* ================================================================== */
/* Draw toolbar
/* ================================================================== */

.leaflet-panzoom-toolbar .leaflet-panzoom-draw-polyline {
	background-position: -2px -2px;
}

.leaflet-panzoom-toolbar .leaflet-panzoom-draw-polygon {
	background-position: -31px -2px;
}

.leaflet-panzoom-toolbar .leaflet-panzoom-draw-rectangle {
	background-position: -62px -2px;
}

.leaflet-panzoom-toolbar .leaflet-panzoom-draw-circle {
	background-position: -92px -2px;
}

.leaflet-panzoom-toolbar .leaflet-panzoom-draw-marker {
	background-position: -122px -2px;
}

/* ================================================================== */
/* Edit toolbar
/* ================================================================== */

.leaflet-panzoom-toolbar .leaflet-panzoom-edit-edit {
	background-position: -152px -2px;
}

.leaflet-panzoom-toolbar .leaflet-panzoom-edit-remove {
	background-position: -182px -2px;
}

/* ================================================================== */
/* Drawing styles
/* ================================================================== */

.leaflet-mouse-marker {
	background-color: #fff;
	cursor: crosshair;
}

.leaflet-panzoom-tooltip {
	background: rgb(54, 54, 54);
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid transparent;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	color: #fff;
	font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-left: 20px;
	margin-top: -21px;
	padding: 4px 8px;
	position: absolute;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-panzoom-tooltip:before {
	border-right: 6px solid black;
	border-right-color: rgba(0, 0, 0, 0.5);
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	position: absolute;
	top: 7px;
	left: -7px;
}

.leaflet-error-draw-tooltip {
	background-color: #F2DEDE;
	border: 1px solid #E6B6BD;
	color: #B94A48;
}

.leaflet-error-draw-tooltip:before {
	border-right-color: #E6B6BD;
}

.leaflet-panzoom-tooltip-single {
	margin-top: -12px
}

.leaflet-panzoom-tooltip-subtext {
	color: #f8d5e4;
}

.leaflet-panzoom-guide-dash {
	font-size: 1%;
	opacity: 0.6;
	position: absolute;
	width: 5px;
	height: 5px;
}

/* ================================================================== */
/* Edit styles
/* ================================================================== */

.leaflet-edit-marker-selected {
	background: rgba(254, 87, 161, 0.1);
	border: 4px dashed rgba(254, 87, 161, 0.6);
	-webkit-border-radius: 4px;
	        border-radius: 4px;
}

.leaflet-edit-move {
	cursor: move;
}

.leaflet-edit-resize {
	cursor: pointer;
}

/* ================================================================== */
/* Sezione aggiunta per il controllo PanZoomBoxControl creato direttamente su mappa.js
/* ================================================================== */
.zoom-button-active{

	
	background-image: url(../img/zoom.png);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
	width: 30px;
	height: 30px;
	clear: left;

	}
.zoom-button {

	
	background-image: url(../img/zoom-inactive.png);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
	width: 30px;
	height: 30px;
	clear: left;

	}

.segnala-button {

	
	background-image: url(../img/point-inactive.png);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
	width: 30px;
	height: 30px;
	clear: left;

	}
.segnala-button-active{
	
	
	background-image: url(../img/point.png);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
	width: 30px;
	height: 30px;
	clear: left;

	}
.legenda-button{
	
	
	background-image: url(../img/layer.png);
	background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
	width: 30px;
	height: 30px;
	clear: left;

	}
