/*Amedeo Fadini Tepco srl*/
/*******************  *******************/


.foto1{
    border: 0;
	background-color:#FFFFFF;
    top: 0px;
	margin-bottom: 5px;
}



.foto2 {
    border: 0;
	clear: both;

}

.foto_item {
    border: 0;
     text-align: right;

}
#foto_grande {
    border: 1px solid;
	border-color: yellow;
	position: fixed;
	height: auto;
	width: 800px;
	scroll:
	top: 10px;
	left : 50%;
	margin-left: -400px;
	z-index:3;
	vertical-align:middle;
	/*display: managed by javascript*/
	/*background-image:url('http://geoserver.tepco.local/edirur/jpg8x6/_DSC1507.jpg');*/
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
}

#materiali{


}

#particolari{

}

#contents{


}
#menu{
position:absolute;
top:10px;
left:10px;
height: 1px;

}

 