.loading{
    background: none repeat scroll 0 0 #FFFFFF;
    font-weight: bold;
    height: 60px;
    text-align: center;
    width: 220px;
    z-index: 1010;
    
}
.loading div{
    margin: auto 0px;
    text-align:center;
    vertical-align:middle;
	z-index: 1010;
}