/*Amedeo Fadini Tepco srl*/
/*******************  *******************/
/* global zeroing of margin an padding on all elements */
* {
	margin:0;
	padding:0;
}


#contents{
height: 100%;
width: 100%;
min-width: 780px;

}
#contents-lista{
    padding: 0;
    width: 250px;
}

.ui-layout-pane-north{
	background: url(../img/menu-bg.png) repeat-x fixed 0 0 !important;
	width: 100%;
	padding: 0 !important;
	border: 0 !important;
}

#navigation{
    left: 333px;
    position: absolute;
    bottom: 5px;
   
}




#navigation a:hover{
	
	color: #bbb;
	background: #ggg;
}

#sx{

}
#sx-content{

}

#dx{

}
.ui-layout-pane-south{
	padding: 0 !important;
	border: 0 !important;
	background: #DDDDDD !important;
	font-size: 11px;
	color: #000 !important;

}
#map{
height: 100%;
}

#dettaglio{
width: 50%;
height: 95%;
}


img.popup{
max-height:100px;
max-width: 145px
/*width: 70%;*/
}

/*tratto dagli esempi openlayers*/

        .olControlPanel .olControlNoSelect div { 
          display:block;
          width:  24px;
          height: 24px;
          margin: 5px;
          background-color:white;
		  top: 350px;
		  left: 9px;
        }
        
        .olControlPanel .olControlMouseDefaultsItemActive { 
          background-color: blue;
          background-image: url("../openlayers/theme/default/img/pan_on.png");
        }
        .olControlPanel .olControlMouseDefaultsItemInactive { 
          background-color: orange;
          background-image: url("../openlayers/theme/default/img/pan_off.png");
        }
        .olControlPanel .olControlDrawFeatureItemActive { 
          width:  22px;  
          height: 22px;
          background-image: url("../openlayers/theme/default/img/draw_line_on.png");
        }
        .olControlPanel .olControlDrawFeatureItemInactive { 
          width:  22px;  
          height: 22px;
          background-image: url("../openlayers/theme/default/img/draw_line_off.png");
        }
        .olControlPanel .olControlZoomBoxItemInactive { 
          width:  22px;  
          height: 22px;
          background-color: orange;
          background-image: url("../openlayers/theme/default/img/drag-rectangle-off.png");
        }
        .olControlPanel .olControlZoomBoxItemActive { 
          width:  22px;  
          height: 22px;
          background-color: blue;
          background-image: url("../openlayers/theme/default/img/drag-rectangle-on.png");
        }
        .olControlPanel .olControlZoomToMaxExtentItemInactive { 
          width:  18px;  
          height: 18px;
          background-image: url("../openlayers/theme/default/img/zoom-world-mini.png");
        }
        
