
#backgroundPopup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;

border:1px solid #cecece;
z-index:1;
}
#popup{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:430px;
width:770px;
background:#FFFFFF;
 border: 10px solid #E4E9E6 !important;
z-index:10;
font-size:13px;


}

#popupClose{
background: url("../img/close.png") ;
position: absolute;
    right: -22px;
    top: -22px;
width: 30px;
height: 30px;
display:inline;
z-index:15;
}
#button{
text-align:center;
margin:100px;
}