/* Do not cancel */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

	margin: 0;

	padding: 0;

	border: 0;

	font-size: 100%;

	vertical-align: baseline;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;



}

/* remember to define focus styles! */

:focus {

	outline: 0;

}

body {

	/*line-height: 1;*/

	color: #000000;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

ol, ul {

	list-style: none;

}

/* tables still need 'cellspacing="0"' in the markup */

/*table {

	border-collapse: separate;

	border-spacing: 0;

}*/

caption, th, td {

	text-align: left;

	font-weight: normal;

}

blockquote:before, blockquote:after,

q:before, q:after {

	content: "";

}

blockquote, q {

	quotes: "" "";

}

html, body {

	height: 100%;

}

/* /Do not cancel */





body {

	 	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	margin: 0px;

	padding: 0px;

	color:#000;

	background: #e4e9e6;

}



h1 { font-size: 30px;

  color:#000;

  font-weight: bold;

  letter-spacing: normal;

  line-height: normal;

  margin-bottom: 10px;

  margin-top: 0px;

  text-align: left;

}



/* 

h2 { font-size: 26px;

  color:#000;

   font-family:"Lucida grande", Lucida Sans Unicode, Arial, Helvetica, sans-serif;

  font-weight: normal;

  letter-spacing: normal;

  line-height: normal;

  margin-bottom: 10px;

  margin-top: 0px;

  text-align:left;

}

*/

  

h3 {

	font-size: 22px;

	color:#000;

	letter-spacing: normal;

    line-height: normal;

	font-weight:normal;

	margin-bottom: 5px;

	margin-top: 10px;

	text-align: left;

}

  

h4 { 

}

  

h5,h6 { font-size: 9px;

  color:#000;

  font-weight: normal;

  letter-spacing: normal;

  line-height: 16px;

  margin-bottom: 10px;

  margin-top: 0px;

  text-align: left;

}

  

p { 

}



ul {



}



ol {

	line-height: 18px;

	color:#000;

	list-style: decimal;

	font-size: 12px;

	letter-spacing: normal;

}





li {

	

}





div { /*font-size: 12px;

  color:#CDC9B3;

   font-family:"Lucida grande", Lucida Sans Unicode, Arial, Helvetica, sans-serif;

  letter-spacing: normal;

  line-height: 18px; */

}

 



a { text-decoration: none; }

a:hover {text-decoration: none; }





hr {

	display:none;

}





form,form fieldset,form legend {

	margin:0px;

	padding:0px;

}

#segnala form label{

	font-size: 11px;

	letter-spacing:normal;

	color: #000; 

}

label a:hover{text-decoration: underline;}



label.error{

    color: red;

    font-style: bold;

}

input.error, textarea.error{

    background: #FFCCCC;

}



.menu{	

font-family: museo-sans,sans-serif;

color: #fff;

font-size: 16px;

margin-right: 35px;

display: inline-block;

}







.segnalazioni a:link, .segnalazioni a:visited{





}

.segnalazioni a:hover, .segnalazioni a:active{

	background: url(../img/bt-segnalazioni.png) no-repeat 0 -11px;

	width: 11px;

	height: 17px;

}

.logo{

   

    color: #FFF;

	background: url(../img/logocomune.png) no-repeat 0 0;

	display: block;

	 height: 62px;

    text-indent: -9999px;

    width: 330px;

}

}

.sx-text h2{

	font-size: 16px;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	color: #000;

	line-height: 20px;

}

.sx-text p, .sx-text li{

	color: #333;

	font-size: 12px;

	line-height: 16px;

}

.sx-text h2{

    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;

    font-size: 14px;

    line-height: 16px;

    margin-top: 20px;

    /*width: 250px;*/

}

.sx-text h4{

    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;

    font-size: 14px;

    color: #a80000;

}

.sx-text ul{

list-style-position: inside;

padding: 0;

margin: 0;

list-style-type: disc;

}



#sx-content a:link, #sx-content a:visited {

	font-size: 12px;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	color: #000;

	text-decoration: none;

}

#sx-content a:hover, #sx-content a:active {

	font-size: 12px;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	color: #000;

	text-decoration: none;

}

#sx-content p{

	color: #333;

	font-size: 12px;

	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	line-height: 15px;



}

#questionario h2{

	color: #333333;

    font-style: normal;

    font-weight: normal;

    text-decoration: none;



}



table.vota  {

	border-width: 1px;

	border-spacing: 0px;

	border-style: solid;

	border-color: lightgray;

	border-collapse: collapse;

	margin-left:auto;

margin-right:auto;



}

.vota  td {

	border-width: 1px;

	padding: 0px;

	border-style: solid;

	border-color: lightgray;

	font-size: 12px; 

	color: #000; 

	letter-spacing: normal;

	line-height: 18px;

    padding: 5px;

    text-align: center;

    vertical-align: middle;

}





 a.dettaglio_poi{

	font-weight: bold;

	color: #a80000 !important;

}



.lista_int{

	text-transform: capitalize;

}

#contents-lista h4{

	margin-bottom: 20px;

	margin-top: 20px;

	color: #a80000;

}

.lista_cont{

	    border-top: 1px dotted #F1F1F1;

    margin-bottom: 20px;

    padding-top: 15px;

}

.dropdown{

	width: 200px;

}

#footer{

	font-size: 11px;

	color: #000;

}

#footer-logo{

	width: 100px;

	margin-left: 15px;

	margin-top: 14px;

	float: left;

}

#copy{

	margin-top: 22px;

}

#copy a:link, #copy a:visited{

	color: #000;

	text-decoration: underline;

}

#copy a:hover, #copy a:active{

	color: #000;

	text-decoration: none;

}

#footer img{

	vertical-align: middle;

}

.footer{

	left: 30px;

    position: fixed;

}

#footer a{

	color: #000;

}

.legenda{

font-size: 11px;

}

label{

	clear: both;

}

#contents-dettaglio {

    background: none repeat scroll 0 0 #E4E9E6;

    overflow: hidden;

    padding: 0;

}

#contenuto{

	background: #FFF;

	border-top: 0 !important;

}

.rowElem{

	margin-bottom: 8px;

}

.rowElem input{

	width: 260px;

}



#contents-dettaglio-text{

	float: left;

	width: 430px;

	margin-top: 20px;

	font-size: 12px;

    line-height: 18px;

    margin-left: 20px;

}

#contents-dettaglio-text a:link, #contents-dettaglio-text a:visited{

	color: #000;

	text-decoration: underline;

}

#contents-dettaglio-text a:hover, #contents-dettaglio-text a:active{

	color: #000;

	text-decoration: none;

}

#contents-dettaglio-fulltext{

	float: left;

	width: 700px;

	margin-top: 20px;

	font-size: 12px;

    line-height: 18px;

    margin-left: 20px;

}



#contents-dettaglio-img{

	float: right;

	width: 250px;

	margin-top: 20px;

	margin-right: 20px;

}

#particolari #contents-dettaglio-text, #materiali #contents-dettaglio-text#contents-dettaglio-fulltext {

    font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    width: 166px;

}

#particolari #contents-dettaglio-img, #materiali #contents-dettaglio-img{

	width: 178px !important;

}

#particolari #contents-dettaglio-img img, #materiali #contents-dettaglio-img img{

    width: auto !important;

    height: 118 !important;

}

.foto_item img{

	max-width: 250px !important;

	height: 166px !important;

}

.part, .mat{

    float: left;

    width: 184px;

}

.part #contents-dettaglio-img{

	float: left !important;

	margin-left: 20px;

}

.mat #contents-dettaglio-img{

	float: left !important;

	margin-left: 20px;

}

#materiali{

	clear: both;

}

#integrita{

	float: left;

	margin-top: 20px;

	font-size: 12px;

    line-height: 18px;

    margin-left: 20px;

}



#fancybox-content{

	background: #FFF;

	border: 10px solid #e4e9e6 !important;

}

.olPopup{

	width: 120px !important;

	height: 75px !important;

	opacity: 0.6 !important;

}

.olPopupContent{

	font-size: 12px;

	color: #000;

	width: 120px !important;

	height: 75px !important;

	display: table-cell;

	vertical-align: middle !important;

}

.olPopupContent a:link, .olPopupContent a:visited{

	color: #000;

}

.olPopupContent a:hover, .olPopupContent a:active{

	color: #000;

}

h2.olPopupContent{

	font-size: 12px;

	color: #F00;

}



#contents-lista{

font-size: 12px;



}



#contents-lista h2{

    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;

    font-size: 14px;

    line-height: 16px;

    margin-top: 20px;

    width: 250px;

}



.olControlNavToolbar div, .olControlEditingToolbar div, .olControlPanel div {

    background-repeat: no-repeat !important;

    float: left;

}

.olControlNavigationItemActive, .olControlPanActive{

	    background-image: url(../img/move.png) !important;

	    height: 30px !important;

	    width: 30px !important;

	    cursor: pointer !important;

	    background-position: 0 0 !important;

}

.olControlNavigationItemInactive, .olControlPanInactive{

	 background-image: url(../img/move-inactive.png) !important;

	 	height: 30px !important;

	    width: 30px !important;

	    cursor: pointer !important;

	    background-position: 0 0 !important;

}

.olControlZoomBoxItemActive{

	 background-image: url(../img/zoom.png) !important;

	 	    height: 30px !important;

	    width: 30px !important;

	    cursor: pointer !important;

	    background-position: 0 0 !important;

}

.olControlZoomBoxItemInactive{

		 background-image: url(../img/zoom-inactive.png) !important;

		 	    height: 30px !important;

	    width: 30px !important;

	    cursor: pointer !important;

	    background-position: 0 0 !important;

}

.SegnalaItemInactive

{

		 background-image: url(../img/point-inactive.png) !important;

		 	    height: 30px !important;

	    width: 30px !important;

	    cursor: pointer !important;

	    background-position: 0 0 !important;

}

.SegnalaItemactive

{

		 background-image: url(../img/point.png) !important;

		 	    height: 30px !important;

	    width: 30px !important;

	    cursor: pointer !important;

	    background-position: 0 0 !important;

}



.olControlNavToolbar, .olControlPanel  {

    right: 0px !important;

    top: 0 !important

}

.olControlLayerSwitcher .layersDiv {

    background-color: black !important;

}

/* ID */



/*

#container_home {

	width:944px;

	height:572px;

	position:absolute;

	top:50%;

	left:50%;

	margin-top:-286px;

	margin-left:-472px;

	overflow:hidden;

}



#container_home #top {

	position:relative;

	padding-top:0px;

}



#container_home #bottom {

	border-top:0px;

}

*/



#flash_cover {

	position:relative;

	width:944px;

	height:442px;

	overflow:hidden;

	clear:both;

}

#flash_cover img {

	position:absolute;

	top:0px;

	left:0px;

}

#flash_cover h2 {

	position:relative;

	margin-top:70px;

	margin-left:40px;

}

#flash_cover p {

	position:relative;

	width:250px;

	margin-left:40px;

}



#container {

	width:944px;

	height:100%;

	margin:0 auto !important;

}



.scarica_flash {

	margin:0px 0px 0px 0px;

	padding:15px 0px 15px 0px;

	background:#FF0000;

	color:#ffffff;

	text-align:center;

}

.scarica_flash a {

	color:#ffffff;

	text-decoration:underline;

}

.scarica_flash a:hover {

	color:#000000;

	text-decoration:none;

}



#top {

	width:944px;

	height:60px;

	overflow:hidden;

	position:fixed;

	top:0px;

	z-index:10;

	padding-top:10px;

	background:#fff;

}



#language {

	float:left;

	width:200px;

	height:60px;

}

#language ul {

	margin:12px 0px 0px 15px;

	padding:0px 0px 0px 0px;

	text-align:left;

}

#language ul li {

	margin:0px 5px 0px 0px;

	float:left;

	list-style:none;

	font-size:11px;

	font-weight:bold;

	letter-spacing:0px;

	text-transform:uppercase;

}

#language ul li a{

	color:#ccc8c4;

	padding:0px 0px 0px 0px;

	opacity:.60;

	filter:alpha(opacity=60);

	-moz-opacity:0.6;

}

#language ul li a.attivo{

	color:#008752;

	opacity:1.00;

	filter:alpha(opacity=100);

	-moz-opacity:1.0;

}



#loghetti {

	float:right;

	width:600px;

	height:60px;

	overflow:hidden;

}

#loghetti img {

	float:right;

}

#loghetti span {

	display:block;

	clear:both;

	text-align:right;

	line-height:normal;

	margin-top:0px;

	font-size:9px;

	font-weight:bold;

}



#logo {

	float:left;

}

#logo a:hover img {

	opacity:.60;

	filter:alpha(opacity=60);

	-moz-opacity:0.6;

}



#nav {

	clear:both;

	width:944px;

	height:86px;

	background:#fff url(images/bg_nav.gif) no-repeat top;

	overflow:hidden;

	position:fixed;

	top:70px;

	z-index:10;

}

#nav ul {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	font-size:16px;

	font-weight:bold;

	line-height:normal;

	letter-spacing:normal;

	color:#fff;

	text-align:left;

}

#nav ul li {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	list-style:none;

	float:left;

	height:80px;

}

#nav ul li a {

	display:block;

	color:#fff;

	padding:64px 2px 0px 2px;

}

#nav ul li a:hover,

#nav ul li a.attivo{

	color:#008752;

	background:url(images/bg_nav_over.png) no-repeat top;

}



#bottom {

	clear:both;

	width:944px;

	border-top:1px solid #ccc8c4;

	/*border-bottom:1px solid #ccc8c4;*/

}

#bottom p {

	margin:0px 0px 0px 0px;

	padding:5px 0px 0px 0px;

	text-align:left;

	line-height:15px;

	font-size:11px;

}

#bottom ul {

	float:right;

	margin:-16px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	text-align:left;

}

#bottom ul li {

	margin:0px 0px 0px 10px;

	float:left;

	list-style:none;

	font-size:11px;

}

#bottom a {

	color:#574a3c;

	text-decoration:none;

}

#bottom a:hover {

	color:#c91a1b;

	text-decoration:none;

}

#bottom span {

	display:block;

	margin:7px 0px 0px 0px;

	padding:7px 0px 0px 0px;

	border-top:1px solid #ccc8c4;

	text-align:center;

	line-height:15px;

	font-size:11px;

}



#content {

	width:944px;

	min-height:400px;

	padding-top:156px !important;

	padding-top:0px;

}

#content_cover {

	width:944px;

	min-height:400px;

	padding-top:60px !important;

	padding-top:0px;

}



#col_sx {

	float:left;

	width:270px;

	margin-top:10px;

	margin-right:6px;

	margin-bottom:15px;

}

#col_center {

	float:left;

	width:502px;

	margin-top:10px;

	margin-right:6px;

	margin-bottom:15px;

}

#col_dx {

	float:left;

	margin-top:10px;

	width:160px;

	margin-bottom:15px;

}



#col_sx .titolo,

#col_center .titolo,

#col_dx .titolo {

	padding-left:4px;

	padding-right:4px;

	border-bottom:1px solid #ccc8c4;

}



#col_sx .margini,

#col_center .margini,

#col_dx .margini {

	margin-left:4px;

	margin-right:4px;

}



#col_center p,

#col_center ul,

#col_center table {

	font-size:14px;

}



#tabella_amministratori {

	table-layout:auto;

	border-collapse:collapse;

	empty-cells:show;

	width:502px;

}

#tabella_amministratori td {

	text-align:left;

	padding:4px 4px 4px 4px;

	border-bottom:1px solid #ccc8c4;

}

#tabella_amministratori td.align_r {

	text-align:right;

}



#subnav {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

}

#subnav ul {

	margin:-11px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	font-size:12px;

	font-weight:bold;

}

#subnav ul li {

	margin:0px 0px 0px 0px;

	padding:0px 4px 0px 4px;

	list-style:none;

	border-bottom:1px solid #ccc8c4;

}

#subnav ul li a {

	display:block;

	padding:10px 0px 10px 0px;

	letter-spacing:normal;

	color:#574a3c;

}

#subnav ul li a:hover {

	color:#90a93e;

	background:url(images/subnav_freccia.gif) no-repeat right;

}

#subnav.subnav_arancio ul li a:hover {

	color:#EBA232;

}

#subnav ul li a.attivo {

	color:#90a93e;

	background:url(images/subnav_freccia.gif) no-repeat left;

	padding-left:15px;

}

#subnav.subnav_arancio ul li a.attivo {

	color:#EBA232;

}



#gallery {

	margin-left:4px;

}

#gallery div {

	float:left;

	font-size:9px;

	margin-right:3px;

}



#ordinamento {

	display:block;

	text-align:right;

	margin-left:4px;

	padding:0px 4px 6px 4px;

	/*border-bottom:1px solid #ccc8c4;*/

	margin-top:8px;

	margin-bottom:6px;

}

#ordinamento span {

	float:left;

}

#ordinamento img {

	vertical-align:middle;

}



.bandi_lista {

	clear:both;

	margin:0px 0px 6px 0px;

	padding:0px 4px 8px 4px;

	border-bottom:1px solid #ccc8c4;

}

.bandi_lista h3 {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	color:#EBA232;

}

.bandi_lista p {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	/*color:#90a93e;*/

}

.bandi_lista ul {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	list-style:inside square;

}

.bandi_lista ul li {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

}

.bandi_lista span.download {

	float:right;

	text-align:right;

	margin-top:-23px;

	margin-left:4px;

	font-size:14px;

	font-weight:bold;

	letter-spacing:normal;

}

.bandi_lista span.download a {

	color:#EBA232;

}

.bandi_lista span.download a:hover {

	color:#574A3C;

}

.bandi_lista span.download a img {

	background:#333;

	margin-left:4px;

	float:right;

}

.bandi_lista span.download a:hover img {

	opacity:.70;

	filter: alpha(opacity=70);

	-moz-opacity: 0.7;

}



.news_lista {

	clear:both;

	height:180px;

	overflow:hidden;

	margin:0px 0px 6px 0px;

	padding:0px 4px 0px 4px;

	border-bottom:1px solid #ccc8c4;

}

.news_lista h3 {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	color:#EBA232;

}

.news_lista p {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

}

.news_lista a {

	color:#90a93e;

}

.news_lista a:hover {

	color:#574A3C;

}

.news_lista a img {

	background:#333;

	width:140px;

	margin-left:6px;

}

.news_lista a:hover img {

	opacity:.70;

	filter: alpha(opacity=70);

	-moz-opacity: 0.7;

}



.download_lista {

	clear:both;

	margin:0px 0px 11px 0px;

	padding:0px 4px 12px 4px;

	border-bottom:1px solid #ccc8c4;

}

.download_lista h4 {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	font-size:12px;

	font-weight:bold;

	color:#eba232;

}

.download_lista p {

	margin:0px 0px 0px 0px;

	padding:0px 0px 0px 0px;

	clear:both;

}

.download_lista span.download {

	float:right;

	text-align:right;

	margin-top:-17px;

	margin-left:4px;

	font-size:12px;

	font-weight:bold;

	letter-spacing:normal;

}

.download_lista span.download a {

	color:#eba232;

}

.download_lista span.download a:hover {

	color:#574a3c;

}

.download_lista span.download a img {

	background:#333;

	margin-left:4px;

	float:right;

}

.download_lista span.download a:hover img {

	opacity:.70;

	filter: alpha(opacity=70);

	-moz-opacity: 0.7;

}



.faq {

	clear:both;

	margin:0px 0px 11px 0px;

	padding:0px 4px 12px 4px;

	border-bottom:1px solid #ccc8c4;

}

.faq h4 {

	margin:0px 0px 0px 0px;

	padding:15px 0px 15px 0px;

	font-size:14px;

	line-height:normal;

	clear:both;

}

.faq span.capolettera {

	clear:both;

	float:left;

	margin:-0px 10px 0px 0px;

	padding:0px 0px 0px 0px;

	font-size:50px;

	font-weight:normal;

}















/* inizio scroller */

.scroll-pane {

	width:431px;

	height:322px;

	overflow:auto;

}

.jScrollPaneTrack {

	background: #444444;

}

.jScrollPaneDrag {

	background: #B5B09A;

}

a.jScrollArrowUp {

	background-color: #B5B09A;

}

a.jScrollArrowUp:hover {

	background-color: #B5B09A;

}

a.jScrollArrowDown {

	background-color: #B5B09A;

}

a.jScrollArrowDown:hover {

	background-color: #B5B09A;

}

a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {

	background-color: #B5B09A;

}

/* fine scroller */















/* CLASSI */



.no_float{

	clear:both;

	display:block;

	height:0px;

	overflow:hidden;

}



.float_left{

	float:left;

}



.float_right{

	float:right;

}



.no_display{

	top: -9999px; position: absolute;

}



.no_puntoelenco{

	list-style:none;

}

.no_puntoelenco li{

	padding-left:0px;

	margin-left:0px;

	padding-top:2px;

	padding-bottom:2px;

}





.color_verde {

	color:#90a93e;

}

a.link_verde {

	color:#90a93e !important;

}

a:hover.link_verde {

	color:#574A3C !important;

}



.color_arancio {

	color:#EBA232;

}

a.link_arancio {

	color:#EBA232 !important;

}

a:hover.link_arancio {

	color:#574A3C !important;

}



.color_marrone {

	color:#574a3c;

}

a.link_marrone {

	color:#574a3c;

	text-decoration: none;

}

a.link_marrone:hover {

	color:#90a93e;

	text-decoration: none;

}





.paginatore {

	clear:both;

	background:url(images/paginatore_bg.png);

	height:30px;

	margin-bottom:20px;

	width:794px;

	margin-left:0px !important;

	margin-left:-10px;

}

.paginatore div{

	font-size:11px;

	font-weight:bold;

	color:#ffffff;

	float:left;

	line-height:30px;

	margin-left:10px;

}

.paginatore ul{

	list-style:none;

	font-size:11px;

	line-height:30px;

	margin-left:15px;

	margin-right:10px;

	float:left;

}

.paginatore ul li {

	margin:0px 4px 0px 4px;

	padding:0px 0px 0px 0px;

	float:left;

}

.paginatore ul li.selected {

	font-weight:bold;

	color:#ffffff;

}

.paginatore ul li a {

	padding:2px 4px 2px 4px;

	font-weight:bold;

	color:#FFFFFF;

	background-color:#027273;

}

.paginatore ul li a:hover {

	color:#FFFFFF;

	background-color:#FE911B;

}







/* SITE MAP */



ul#sitemap{

	font-weight: bold;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	letter-spacing: normal;

	color:#444444;

	padding:0px 0px 0px 0px;

	margin:0px 0px 0px 0px;

	width:600px;

	text-transform:capitalize;

}

#sitemap li.firstLevel{

	font-weight:bold;

	padding:0px 0px 0px 0px;

	margin:0px 10px 0px 0px;

	float:left;

	height:120px;

}

#sitemap li.firstLevel a.linkfirstLevel{

	color:#444444;

	background:#B5B09A;

	padding-left:5px;

	padding-right:5px;

	width:175px;

}

#sitemap li.firstLevel a:hover.linkfirstLevel{

	background:#EBB40C;

	text-decoration:none;

}

ul#sitemap li{

	list-style:none;

	margin:5px 0px 5px 0px;

	padding:0px;

	font-weight:normal;

}

ul#sitemap li a{

	border:0px;

	padding:0px 5px 0px 5px;

	margin:0px 0px 0px 0px;

	color:#B5B09A;

	display:block;

}

ul#sitemap li a:hover{

	text-decoration:underline;

	color:#EBB40C;

}









/* FORM CONTATTI */





.formStyle { 

	margin: 20px 0px 20px 0px;

	padding: 0px 0px 0px 0px;

}



.formStyle fieldset { 

margin: 10px 0px 0px 0px;

padding: 0px 0px 0px 0px;

border-top:1px solid #aaaaaa;

}

           

.formStyle legend { 

font-weight: bold;

font-size:13px;

letter-spacing:normal;

color: #555555;

margin: 0px 0px 0px 0px;

padding: 0px 5px 0px 5px;

}



.formStyle div { 

margin: 20px 0px 20px 0px;

padding: 0px 0px 0px 0px;

clear: both;

}

         

.formStyle label { 

display: block;

width: 150px;

float: left;

font-weight: normal;

font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;

font-size: 11px;

letter-spacing: 1px;

line-height: 16px;

color: #555555;

text-align: right;

margin-right: 10px;

}



.formStyle span {

font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

}



.formStyle label span {

color: #ff0000;

font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

}

        

.formStyle input,.formStyle select,.formStyle textarea { 

background: transparent; 

color: #444444; 

font-weight: normal;

font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

letter-spacing:normal;

line-height:normal;

padding: 2px 0px 2px 0px;

margin: 0px 0px 0px 0px;

border: 0px;

border-bottom: 1px solid #cccccc;

width: 50%;

cursor: text;

}

.formStyle input:hover,.formStyle select:hover { 

border-bottom: 1px solid #777777;

background:#ffffff;

}

.formStyle input:focus,.formStyle select:focus { 

border-bottom: 1px solid #777777;

background:#ffffff;

}



.formStyle div.riga_textarea label { 

clear:both;

margin-top:0px;

}



.formStyle div.campo_small input {

width:10%;

}



.formStyle div.riga_textarea textarea {

border-right: 1px solid #cccccc;

border-bottom: 1px solid #cccccc;

border-left: 1px solid #cccccc;

height: auto;

width: 50%;

}

.formStyle div.riga_textarea textarea:hover {

border-right: 1px solid #777777;

border-bottom: 1px solid #777777;

border-left: 1px solid #777777;

background:#ffffff;

}

.formStyle div.riga_textarea textarea:focus {

border-right: 1px solid #777777;

border-bottom: 1px solid #777777;

border-left: 1px solid #777777;

background:#ffffff;

}



.formStyle div.riga_spunta {

margin-bottom: 10px;

margin-left:160px;

}

.formStyle div.riga_spunta input,.formStyle div input.spunta {

background: transparent;

border: 0px solid #ffffff;

width: auto;

vertical-align: middle;

padding: 0px;

margin: 0px;

cursor: pointer;

}

.formStyle div.riga_spunta input:hover,.formStyle div input:hover.spunta {

background: transparent;

}

.formStyle div.riga_spunta label {

width:auto;

display:inline;

float:none;

}

.formStyle div.riga_spunta span {

font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

}



.formStyle p.leggi_privacy { 

font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

color: #555555;

margin: 10px 0px 10px 0px;

padding-left:160px;

}



.formStyle .invia_cancella { 

margin: 20px 0px 20px 160px;

}

	

.formStyle input.pulsante {

background: #555555;

color: #ffffff;

font-family: Arial, Helvetica, sans-serif;

font-size:12px;

text-align: center;

font-weight: bold;

line-height:normal;

padding: 1px 5px 1px 5px;

margin: 0px 10px 0px 0px;

cursor: pointer;

width: auto;

border: 0px;

float: left;

}

.formStyle input.pulsante:hover {

background: #777777;

color: #ffffff;

}



.formStyle .tasto_invia {

position:relative;

margin-left:163px;

margin-top:10px;

}

.formStyle .tasto_invia #Invia {

position:absolute;

top:0px;

left:0px;

cursor:pointer;

display:none;

}

.formStyle .tasto_invia #InviaOff {

position:absolute;

top:0px;

left:0px;

opacity:.20;

filter: alpha(opacity=20);

-moz-opacity: 0.2;

}



.formStyle input.textboxErrore {

color:#FF0000;

border:1px solid #FF0000;

}

/*dettaglio linee guida*/

/*amedeo 30/11/11  */



div#linstato {

   

    height: 200px;

    position: absolute;

    width: 200px;

	padding: 5px;

	font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    max-width: 166px;

}



div#lindesc {

    height: 180px;

    position: absolute;

    width: 240px;

	left: 210px;

	padding: 5px;

	font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    max-width: 166px;

}



div#linindirizzo{

    height: 180px;

    position: absolute;

    width: 220px;

	left: 460px;

	padding: 5px;

	font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    max-width: 166px;

}



div#linstato2{

    position: absolute;

    width: 180px;

	padding: 5px;

	top:210px;

	font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    max-width: 166px;

}



div#lindesc2{

    position: absolute;

    width: 240px;

	left: 210px;

	padding: 5px;

	top:210px;

	font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    max-width: 166px;

	

}



div#linindirizzo2{

    position: absolute;

    width: 220px;

	left: 460px;

	padding: 5px;

	top:210px;

	font-size: 11px;

    line-height: 12px;

    margin-top: 10px !important;

    max-width: 166px;

}

.titoletto {

	font-style: italic;

}

