/* 
	Demo interfaccia tab-based by Ing. G. Celsi
	Foglio stile ripreso dall'articolo "Shade Image Tabs Menu"
	http://www.dynamicdrive.com/style/csslibrary/item/shade-image-tabs-menu/
*/
.tab-menu-class {

	margin-left: auto;
	margin-right: auto;
}
.tab-menu-class ul {
	 list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    padding: 5px 0;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}
.tab-menu-class li {
	display: inline;
	margin: 0;
}
.tab-menu-class li a {
	color: #000000;
    margin-right: -3px;
    padding: 8px 15px;
    text-decoration: none;
	background: url("shade.gif") repeat-x scroll left top transparent;
}
.tab-menu-class li a:visited {
	color: #2d2b2b;
}
.tab-menu-class li a:hover {
	text-decoration: none;
	color: #2d2b2b;
}
.tab-menu-class li a.tab-attivo {
	position: relative;
	background: none repeat scroll 0 0 #FFFFFF !important;
}
.tab-menu-class li a.tab-attivo {
	/*selected main tab style */
background-image: url(shadeactive.gif);
	border: none;
	z-index: 110;
}
.tab-menu-class li a.tab-attivo:hover {
	/*selected main tab style */
text-decoration: none;
}
div#tab-contenuto {
	border-top:1px solid #778; 
	padding: 8px;
	display: block;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 4px;
}
/* includere sempre questa classe se si usano contenuti interni alla pagina con il tab */
.contenutoNascosto {
	display: none;
}
#tab-menu-0, #tab-menu-1, #tab-menu-2, #tab-menu-3{
	background: #d9ddda;
}
