	<!-- jquery -->
<script src="./js/jquery-1.7.min.js">
	</script>
<!-- generalcss files -->
<link type="text/css" rel="stylesheet" href="./css/mappa.css">
	<!--loading stylesheet-->
<link rel="stylesheet" href="./leaflet-0.5/leaflet-ame.css" />

 <!--[if lte IE 8]>
     <link rel="stylesheet" href="./leaflet-0.5/leaflet.ie-ame.css" />
 <![endif]-->
<script src="./leaflet-0.5/leaflet-src.js"></script>
<script src="./leaflet-0.5/plugins/Toolbar.js"></script>
<script src="./leaflet-0.5/plugins/control/Distance.js"></script>



<!--google maps api-->
<script src="http://maps.google.com/maps/api/js?v=3.5"></script>

<script src="./leaflet-0.5/plugins/Google.js"></script>
<script src="./leaflet-0.5/plugins/Bing.js"></script>
<!-- geocode control -->
<script src="./leaflet-0.5/plugins/L.GeoSearch/src/js/l.control.geosearch.js"></script>
<script src="./leaflet-0.5/plugins/L.GeoSearch/src/js/l.geosearch.provider.google.js"></script>
<link rel="stylesheet" href="./leaflet-0.5/plugins/L.GeoSearch/src/css/l.geosearch.css" />
<!-- locate control -->
<link rel="stylesheet" href="./css/L.Control.Locate.ie.css" />
<link rel="stylesheet" href="./css/L.Control.Locate.css" />
<script src="./leaflet-0.5/plugins/L.Control.Locate.js"></script>
<!-- panzoom control -->
<link rel="stylesheet" href="./css/leaflet.panzoom.css" />
<!-- markercluster -->
<link rel="stylesheet" href="./css/MarkerCluster.css" />
<link rel="stylesheet" href="./css/MarkerCluster.Default.css" />
<script src="./js/leaflet.markercluster.js"></script>
<!-- icone colorate -->
<script src="./js/leaflet-color-markers.js"></script>

 

<style type="text/css">

</style>
<!-- paresuri http://www.abeautifulsite.net/parsing-urls-in-javascript/-->
<script type="text/javascript">
function parseURL(url) {
    var parser = document.createElement('a'),
        searchObject = {},
        queries, split, i;
    // Let the browser do the work
    parser.href = url;
    // Convert query string to object
    queries = parser.search.replace(/^\?/, '').split('&');
    for( i = 0; i < queries.length; i++ ) {
        split = queries[i].split('=');
        searchObject[split[0]] = split[1];
    }
    return {
        protocol: parser.protocol,
        host: parser.host,
        hostname: parser.hostname,
        port: parser.port,
        pathname: parser.pathname,
        search: parser.search,
        searchObject: searchObject,
        hash: parser.hash
    };
}
var p = parseURL(window.location.href);
var user = p.searchObject.user;


</script>

<div id="map" class="mappa"></div>

	<!-- carica la mappa -->
	<script src="./js/mappa.js"></script>



